@inject IStringLocalizer<CommonStrings> L

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">@L["NavHome"]</MudNavLink>
    <AuthorizeView>
        <MudNavLink Href="leagues" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SportsTennis">@L["NavLeagues"]</MudNavLink>
        <MudNavLink Href="courts" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Place">@L["NavCourts"]</MudNavLink>
        <MudNavLink Href="scheduler" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.DateRange">@L["NavScheduler"]</MudNavLink>
    </AuthorizeView>
</MudNavMenu>

<div class="px-3 pt-2">
    <CultureSelector />
</div>
